<!DOCTYPE html>
<html>

<head>
    <title>百萬左右熱門新車主被動安全配備整理</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="./style.css?20210310">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FB3GRBV0PF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-FB3GRBV0PF');
    </script>
</head>

<body>
    <div id="app">
        <div class="container">
            <h1>百萬左右熱門新車主被動安全配備整理</h1>
            <div class="block">
                <div class="field has-addons">
                    <p class="control">
                        <a class="button is-static">
                            價格下限
                        </a>
                    </p>
                    <p class="control">
                        <input class="input" placeholder="價格下限" v-model="minPrice" type="number">
                    </p>
                    <p class="control">
                        <a class="button is-static">
                            價格上限
                        </a>
                    </p>
                    <p class="control">
                        <input class="input" placeholder="價格上限" v-model="maxPrice" type="number">
                    </p>
                </div>
                <div>
                    <button class="button" @click="我要氣囊有六顆以上 = !我要氣囊有六顆以上;" :class="{ 'is-primary': 我要氣囊有六顆以上 == true }">我要氣囊有六顆以上</button>
                    <button class="button" @click="我要自煞 = !我要自煞;" :class="{ 'is-primary': 我要自煞 == true }">我要自煞</button>
                    <button class="button" @click="我要前預 = !我要前預;" :class="{ 'is-primary': 我要前預 == true }">我要前預</button>
                    <button class="button" @click="我要盲點 = !我要盲點;" :class="{ 'is-primary': 我要盲點 == true }">我要盲點</button>
                </div>
                <br>
                <div class="field has-addons">
                    <div class="control">
                        <a class="button is-static">
                            關於偏離:
                        </a>
                    </div>
                    <div class="control">
                        <button class="button" @click="我要偏維 = ''; 我要偏警 = '';" :class="{ 'is-primary': 我要偏維 == '' && 我要偏警 == '' }">不在乎</button>
                        <button class="button" @click="我要偏維 = ''; 我要偏警 = true;" :class="{ 'is-primary': 我要偏維 == '' && 我要偏警 == true }">至少警示</button>
                        <button class="button" @click="我要偏維 = true; 我要偏警 = '';" :class="{ 'is-primary': 我要偏維 == true && 我要偏警 == '' }">車輛主動拉回</button>
                    </div>
                </div>
                <div class="field has-addons">
                    <div class="control">
                        <a class="button is-static">
                            關於上下坡:
                        </a>
                    </div>
                    <div class="control">
                        <button class="button" @click="我要上坡 = '';" :class="{ 'is-primary': 我要上坡 == '' }">不在乎</button>
                        <button class="button" @click="我要上坡 = '上坡';" :class="{ 'is-primary': 我要上坡 == '上坡' }">至少上坡</button>
                        <button class="button" @click="我要上坡 = '斜坡';" :class="{ 'is-primary': 我要上坡 == '斜坡' }">要上坡+下坡</button>
                    </div>
                </div>
                <div class="field has-addons">
                    <div class="control">
                        <a class="button is-static">
                            關於巡航:
                        </a>
                    </div>
                    <div class="control">
                        <button class="button" @click="我要定速 = '';" :class="{ 'is-primary': 我要定速 == '' }">不在乎</button>
                        <button class="button" @click="我要定速 = '定速';" :class="{ 'is-primary': 我要定速 == '定速' }">至少傳統定速</button>
                        <button class="button" @click="我要定速 = '半Ａ';" :class="{ 'is-primary': 我要定速 == '半Ａ' }">至少半速域</button>
                        <button class="button" @click="我要定速 = '全Ａ';" :class="{ 'is-primary': 我要定速 == '全Ａ' }">至少全速域</button>
                    </div>
                </div>
                <div class="field has-addons">
                    <div class="control">
                        <a class="button is-static">
                            關於產地:
                        </a>
                    </div>
                    <div class="control">
                        <button class="button" @click="我要進口 = '';" :class="{ 'is-primary': 我要進口 == '' }">不在乎</button>
                        <button class="button" @click="我要進口 = '我要進口車';" :class="{ 'is-primary': 我要進口 == '我要進口車' }">我要進口車</button>
                        <button class="button" @click="我要進口 = '我不要進口車';" :class="{ 'is-primary': 我要進口 == '我不要進口車' }">我不要進口車</button>
                    </div>
                    <div class="control">
                        <a class="button is-static">
                            產地:
                        </a>
                    </div>
                    <div class="control">
                        <button class="button" @click="if (我要產地.includes(產地)) 我要產地.splice(我要產地.indexOf(產地), 1); else 我要產地.push(產地);" :class="{ 'is-primary': 我要產地.includes(產地) }" v-for="產地 in 產地s">
                            {{ 產地 }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="columns is-multiline">
                <div class="column is-4 is-4-fullhd is-4-desktop is-6-tablet is-12-mobile" v-for="car in filteredCars">
                    <article class="message">
                        <div class="message-header">
                            <span>{{ car.廠牌 }}</span>
                            <span>{{ car.車名 }}</span>
                            <span>{{ car.形式 }}</span>
                        </div>
                        <div class="message-body">
                            <div>
                                <span class="tag is-medium navy" v-if="car.價格">{{ car.價格 }} 萬</span>
                                <span class="tag is-medium blue" v-if="car.油耗">油耗 {{ car.油耗 }}</span>
                                <span class="tag is-medium olive" v-if="car.氣囊">{{ car.氣囊 }} 氣囊</span>
                            </div>
                            <div>
                                <span class="tag is-medium green" v-if="car.自煞">{{ car.自煞 }}</span>
                                <span class="tag is-medium lime" v-if="car.前預">{{ car.前預 }}</span>
                                <span class="tag is-medium yellow" v-if="car.盲點">{{ car.盲點 }}</span>
                                <span class="tag is-medium orange" v-if="car.偏維">{{ car.偏維 }}</span>
                                <span class="tag is-medium red" v-if="car.上坡">{{ car.上坡 }}</span>
                                <span class="tag is-medium maroon" v-if="car.偏警">{{ car.偏警 }}</span>
                            </div>
                            <div>
                                <span class="tag is-medium purple" v-if="car.馬力">{{ car.馬力 }} 馬力</span>
                                <span class="tag is-medium black" v-if="car.扭力">{{ car.扭力 }} 扭力</span>
                                <span class="tag is-medium gray" v-if="car.變速">{{ car.變速 }}</span>
                            </div>
                            <div>
                                <span class="tag is-medium silver" v-if="car.車長">長{{ car.車長 }}</span>
                                <span class="tag is-medium color01" v-if="car.車寬">寬{{ car.車寬 }}</span>
                                <span class="tag is-medium color02" v-if="car.車高">高{{ car.車高 }}</span>
                                <span class="tag is-medium color03" v-if="car.行李容積">行李{{ car.行李容積 }}</span>
                            </div>
                            <div>
                                <span class="tag is-medium teal" v-if="car.定速">{{ car.定速 }}</span>
                                <span class="tag is-medium fuchsia" v-if="car.備註">{{ car.備註 }}</span>
                                <span class="tag is-medium color04" v-if="car.進口">{{ car.進口 }}</span>
                                <span class="tag is-medium color05" v-if="car.動力系統">{{ car.動力系統 }}</span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./seed.js?20210310"></script>
    <script src="./main.js?20210325"></script>
</body>

</html>