.navy {
    background-color: #001f3f !important;
    color: white !important;
}

.blue {
    background-color: #0074D9 !important;
    color: white !important;
}

.aqua {
    background-color: #7FDBFF !important;
    color: white !important;
}

.teal {
    background-color: #39CCCC !important;
    color: white !important;
}

.olive {
    background-color: #3D9970 !important;
    color: white !important;
}

.green {
    background-color: #2ECC40 !important;
    color: white !important;
}

.lime {
    background-color: #01FF70 !important;
    color: white !important;
}

.yellow {
    background-color: #FFDC00 !important;
    color: white !important;
}

.orange {
    background-color: #FF851B !important;
    color: white !important;
}

.red {
    background-color: #FF4136 !important;
    color: white !important;
}

.maroon {
    background-color: #85144b !important;
    color: white !important;
}

.fuchsia {
    background-color: #F012BE !important;
    color: white !important;
}

.purple {
    background-color: #B10DC9 !important;
    color: white !important;
}

.black {
    background-color: #111111 !important;
    color: white !important;
}

.gray {
    background-color: #AAAAAA !important;
    color: white !important;
}

.silver {
    background-color: #DDDDDD !important;
    color: white !important;
}